.hero {
    padding-top: 6rem;
    background-color: #e2edff;
}

.about {
    padding-top: 6rem;
    background-color: white;
}

.project {
    padding-top: 6rem;
    background-color: #e2edff;
}

.contact {
    padding-top: 6rem;
    background-color: white;
}